<a href="https://colab.research.google.com/github/ThomasTate365/Projects/blob/main/Fraud_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the Dependencies

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
# loading the dataset to a Pandas DataFrame
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [ ]:
# first 5 rows of the dataset
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [ ]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [ ]:
# dataset info
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [ ]:
# checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [ ]:
# distribution of legit transactions & fraudulent transactions
credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

This Dataset is highly unbalanced

0 --> Normal Transaction

1 --> Fraud Transaction

In [ ]:
# Separating the data for analysis
legit = credit_card_data[credit_card_data.Class ==0]
fraud = credit_card_data[credit_card_data.Class ==1]

In [ ]:
print(legit.shape)
print(fraud.shape)

(114719, 31)
(242, 31)

In [ ]:
#statistical measures of the data
legit.Amount.describe()

count    114719.000000
mean         94.859137
std         257.024232
min           0.000000
25%           6.990000
50%          25.000000
75%          85.250000
max       19656.530000
Name: Amount, dtype: float64

In [ ]:
fraud.Amount.describe()

count     242.000000
mean      119.435331
std       254.330814
min         0.000000
25%         1.000000
50%         8.565000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [ ]:
# compare the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,46095.931415,-0.242322,-0.023224,0.698223,0.145973,-0.274923,0.096444,-0.102075,0.055820,-0.063634,...,0.042648,-0.036798,-0.110409,-0.036248,0.011349,0.132138,0.026597,-0.000104,0.001924,94.859137
1.0,39270.280992,-5.942308,4.133122,-7.591109,4.716339,-4.227089,-1.524018,-6.307479,1.589037,-2.723048,...,0.260058,1.348273,-0.332768,-0.105461,-0.111634,0.210822,0.086947,0.533591,0.065613,119.435331

Under-Sampling

Build a sample dataset containing similar distribution of normal transactions and fraud transactions

Number of Fraud Transactions is --> 242

In [ ]:
legit_sample = legit.sample(n=242)

Concatenating two DF

In [ ]:
new_dataset = pd.concat([legit_sample, fraud], axis= 0)

In [ ]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
47948,43429.0,-0.051277,-2.003749,0.559568,1.651305,-1.181852,1.172436,-0.153111,0.414532,0.566213,...,0.558397,0.481114,-0.521837,-0.275123,0.080475,-0.256273,-0.016932,0.114245,568.00,0
114584,73537.0,-0.177507,0.101823,1.572795,-1.281847,-0.569275,-0.815394,-0.011900,-0.025267,-1.640312,...,0.294707,0.688284,-0.136188,0.553153,0.000930,-0.281869,0.023789,0.013700,10.00,0
235759,148528.0,-1.090073,0.975298,-0.241540,-2.045085,0.860871,-0.639514,-2.614842,-5.450611,-1.775147,...,-2.381535,0.897623,-1.265403,1.165620,-0.578623,-0.544015,0.035731,0.161983,10.00,0
44293,41879.0,1.193593,0.087685,0.287703,1.264034,-0.263090,-0.183458,-0.079928,0.107889,0.309165,...,-0.120605,-0.252393,-0.122833,-0.039787,0.695186,-0.332792,0.009045,0.001622,5.00,0
208683,137226.0,-0.324671,0.967724,0.376932,-1.026928,1.353869,-0.812213,1.395472,-0.354494,-0.217737,...,-0.337275,-0.838198,-0.130705,0.560673,-0.243644,0.031674,-0.110878,-0.061668,1.99,0

In [ ]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
108258,70828,0.196707,1.189757,0.704882,2.891388,0.045555,1.245730,-1.198714,-2.421616,-1.232089,...,-1.328132,0.189311,-0.005524,-0.814708,0.400924,0.286281,0.135215,0.257315,0.76,1.0
108708,71033,-3.170818,0.185735,-3.399852,3.761155,-2.148047,-1.598944,-2.519565,1.316215,-2.400106,...,1.092051,-0.041080,0.904395,0.180016,0.049970,-0.257100,0.859282,0.225924,426.40,1.0
111690,72327,-4.198735,0.194121,-3.917586,3.920748,-1.875486,-2.118933,-3.614445,1.687884,-2.189871,...,0.801312,-0.183001,-0.440387,0.292539,-0.144967,-0.251744,1.249414,-0.131525,238.90,1.0
112840,72824,-1.111495,-0.257575,2.250210,1.152671,0.432904,1.254126,-0.584163,-0.609682,1.014602,...,0.862913,0.927825,-0.343058,-0.256268,-0.600742,-0.180331,0.026762,-0.358335,45.03,1.0
114271,73408,-2.869795,1.335667,-1.009530,1.693885,-0.741480,-0.796773,-2.614242,1.066636,-1.135497,...,0.528421,0.228027,-0.749298,-0.067179,0.215792,-0.453651,0.349191,0.198862,16.48,1.0

In [ ]:
new_dataset['Class'].value_counts()

0.0    242
1.0    242
Name: Class, dtype: int64

In [ ]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,46254.719008,-0.325579,0.137024,0.746892,0.177916,-0.326440,0.069644,-0.150590,0.143874,-0.014321,...,0.009281,-0.003827,-0.123947,-0.045474,-0.000724,0.088844,0.024950,0.018926,-0.016035,80.233017
1.0,39270.280992,-5.942308,4.133122,-7.591109,4.716339,-4.227089,-1.524018,-6.307479,1.589037,-2.723048,...,0.260058,1.348273,-0.332768,-0.105461,-0.111634,0.210822,0.086947,0.533591,0.065613,119.435331

Spliiting the data into Features & Targets

In [ ]:
X = new_dataset.drop(columns = 'Class', axis=1)
Y = new_dataset['Class']

In [ ]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
47948    43429.0 -0.051277 -2.003749  0.559568  1.651305 -1.181852  1.172436
114584   73537.0 -0.177507  0.101823  1.572795 -1.281847 -0.569275 -0.815394
235759  148528.0 -1.090073  0.975298 -0.241540 -2.045085  0.860871 -0.639514
44293    41879.0  1.193593  0.087685  0.287703  1.264034 -0.263090 -0.183458
208683  137226.0 -0.324671  0.967724  0.376932 -1.026928  1.353869 -0.812213
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
47948  -0.153111  0.414532  0.566213  ...  0.880103  0.558397  0.481114
114584 -0.011900 -0.025267 -1.640312  ...  0.166629  0.294707  0.688284
235759 -2.614842 -5.450611 -1.775147  ...  1.178923 -2.381535  0.897623
44293  -0.079928  0.107889  0.309165  ... -0.250234 -0.120605 -0.252393
208683  1.395472 -0.354494 -0.217737  ... -0.056067 -0.337275 -0.838198
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
47948  -0.521837 -0.275123  0.080475 -0.256273 -0.016932  0.114245  568.00
114584 -0.136188  0.553153  0.000930 -0.281869  0.023789  0.013700   10.00
235759 -1.265403  1.165620 -0.578623 -0.544015  0.035731  0.161983   10.00
44293  -0.122833 -0.039787  0.695186 -0.332792  0.009045  0.001622    5.00
208683 -0.130705  0.560673 -0.243644  0.031674 -0.110878 -0.061668    1.99
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[734 rows x 30 columns]

In [ ]:
print(Y)

47948     0
114584    0
235759    0
44293     0
208683    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 734, dtype: int64

Split the data into Training data & Test Data

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [ ]:
print(X.shape, X_train.shape, X_test.shape)

(734, 30) (587, 30) (147, 30)

Model Training

Logistic Regression

In [ ]:
model = LogisticRegression()

In [ ]:
#training the Logistic Regression Model with Training Data
model.fit(X_train, Y_train)

LogisticRegression()

Model Evaluation

Accuracy Score

In [ ]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [ ]:
print('Accuracy on Training Data : ', training_data_accuracy)

Accuracy on Training Data :  0.9216354344122658

In [ ]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [ ]:
print('Accuracy on Test Data : ', test_data_accuracy)

Accuracy on Test Data :  0.9183673469387755